:root {
  --component-bg-color:#282c34;
  --component-text-color:#ff9900ff;
  --component-border-color: #666666ff;
  --main-bg-color: #F2EFC4;
  --main-alt-bg-color: #DBD2A7;
  --main-text-color:#66380f;
  --main-alt-text-color: #551700;

  --focus-bg-color: #006080;
  --focus-text-color: #B2CCE5;
  

  --fancy-font: 'Cinzel Decorative', cursive;
}

#root {
  background-color:var(--main-bg-color);
  min-height: 100vh;
}

.App-Main {
  color: var(--main-text-color);
  z-index: -2;
}

/* Icons */
.charactersIcon {
  background-image: url('../icons/characters-orange.svg');
  background-size: 40px;
  background-position: center;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  text-indent: -10000px;
  margin: auto;

}
.charactersIcon:hover { 
  background-image: url('../icons/characters-black.svg');
  background-color: var(--component-text-color);
}

.eventIcon {
  background-image: url('../icons/event-orange.svg');
  background-size: 40px;
  background-position: center;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  text-indent: -10000px;
  margin: auto;

}
.eventIcon:hover { 
  background-image: url('../icons/event-black.svg');
  background-color: var(--component-text-color);
}

.campaignIcon {
  background-image: url('../icons/campaign-orange.svg');
  background-size: 40px;
  background-position: center;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  text-indent: -10000px;
  margin: auto;
}
.campaignIcon:hover { 
  background-image: url('../icons/campaign-black.svg');
  background-color: var(--component-text-color);
}

.userIcon {
  background-image: url('../icons/user-orange.svg');
  background-size: 40px;
  background-position: center;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  text-indent: -10000px;
  margin: auto;
}
.userIcon:hover { 
  background-image: url('../icons/user-black.svg');
  background-color: var(--component-text-color);
}

/* Global Classes */
.hidden{
  display: none;
}

.invisible{
  visibility: hidden;
}

.focus{
  color: var(--focus-text-color);
  background-color: var(--focus-bg-color);
}
.focus div{
  background-color: var(--focus-text-color);
}

.selectable{
  color: var(--main-alt-text-color);
  background-color: var(--main-alt-bg-color); 
}
.selectable div{
  background-color: var(--component-text-color);
}
.selectable:hover{
  color: var(--focus-text-color);
  background-color: var(--focus-bg-color);
}
