#root {
  background-color:#666666ff;
  min-height: 100vh;

}

.App-Main {
  /* min-height: 80vh; */
  /* max-height: 60vh; */
  color: #FCFFCF;
  z-index: -2;
}

.hidden{
  display: none;
}

.visible{
  display: visible;
}
