:root {
  --component-bg-color:#282c34;
  --component-text-color:#ff9900ff;
  --component-border-color: #666666ff;
  --main-bg-color: #F2EFC4;
  --main-alt-bg-color: #DBD2A7;
  --main-text-color:#66380f;
  --main-alt-text-color: #551700;

  --fancy-font: 'Cinzel Decorative', cursive;

}

#root {
  background-color:var(--main-bg-color);
  min-height: 100vh;
}

.App-Main {
  color: var(--main-text-color);
  z-index: -2;
}

.hidden{
  display: none;
}

.invisible{
  visibility: hidden;
}
