.characterBuilder {
  margin: auto;
  min-height: 445px;
  /* border: 2px solid var(--component-bg-color); */
  background-color: var(--main-alt-bg-color);
  display: flex;
  flex-direction: column;
}

.characterBuilder main{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.characterBuilder h2 {
  background-color: var(--component-bg-color);
  text-align: center;
  padding: 8px;
  border-bottom: 2px solid var(--component-border-color);
}
.characterBuilder h3{
  color: var(--component-text-color);
  background-color: var(--main-alt-bg-color);
  text-decoration: underline var(--component-bg-color);
}

.characterBuilder p {
  color: var(--component-text-color);
}

.characterBuilder aside {
  align-self: flex-start;
  background-color: var(--main-alt-bg-color);
  border-top: none;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* overflow-y: scroll; */

}

.characterBuilder section {
  width: 100%;
  overflow-y: scroll;
  background-color: var(--main-bg-color);
}

.characterBuilder .characterCardUpper{
  display: flex;
  justify-content: flex-start;

}
.characterBuilder .characterCardLower{
  display: flex;
  justify-content: flex-start;
  align-items: stretch;


}
.characterBuilder .characterDemographics{
  width: 100%;
}

.characterBuilder img{
  width: 150px;
  height: 150px;
  border-radius: 30%;
}
.characterBuilder .characterPortrait{
  background-color: var(--component-bg-color);
  border-radius: 5%;
}
.characterBuilder li {
  padding: 20px;
  display: flex;
}
.characterBuilder li:hover {
  background-color: lightslategrey;
}
.characterBuilder span {
  background-color: pink;
}

.characterBuilder li div {
  border-radius: 50%;
  background-color: lightblue;
  height: 25px;
  width: 25px;
  margin-right: 20px;
}
