
.dashboard{
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--component-bg-color);
}  
.dashboard p {
    font-size: 1.1em;
    font-family: var(--fancy-font);
    color: inherit;
}
.dashboard img{
    width: 150px;
    height: 150px;
    border-radius: 30%;
}

.dashboard input{
    /* background-color: var(--main-alt-bg-color);
    color: var(--component-bg-color);
    line-height: 2em;
    max-height: 2em; */
}

.dashboard li {
    padding: 17px;
    display: flex;
    color: var(--main-alt-text-color);
}
.dashboard li div {
    border-radius: 50%;
  
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
  
    height: 25px;
    line-height: 25px;
    width: 25px;
    margin-right: 10px;
}

.characterAvatar div{
    background-color: var(--component-text-color);
}
.newCharacter div{
    background-color: var(--focus-bg-color);
    color: var(--focus-text-color);
}

.dashboardNavigation{
    background-color: var(--component-bg-color);
    color: var(--component-text-color);
    
    min-width: 6vw;
    order: 0;
    min-height: 100vh;
}
.dashboardNavigation ul{
    width: 75px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-content: center; */

    height: 100%;
}
.dashboardNavigation li{
    margin: auto;
    color: var(--component-text-color);
    border-radius: 20px;

    box-shadow: 
    -4px -4px 4px 0 #414754,
    4px 4px 4px 0px #14161A;
}

.dashboardDynamic{
    width: 100%;
}
.dashboardView{
    display: flex;
    min-height: 95vh;
    background-color: var(--main-alt-bg-color);
}
.dashboardView aside {
    align-self: flex-start;
    background-color: var(--main-alt-bg-color);
    border-top: none;
    border-right: 1px solid gray;
  
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 95vh;
    max-height: 95vh;
    min-width: 20vw;
    overflow-y: scroll;
    overflow-x: none;
}
.dashboardView li:hover{
    color: var(--focus-text-color);
    background-color: var(--focus-bg-color);
}
.dashboardView li:hover div{
    background-color: var(--focus-text-color);
}
.dashboard section{
    width: 100%;
    padding: 10px;

    background-color: var(--main-bg-color);

    overflow-y: scroll;
}
.dashboard aside li{
    border-bottom: 3px solid var(--main-alt-bg-color);
}
.dashboard section li {
    border-bottom: 3px solid var(--main-bg-color);
}
.streamHeader{
    padding: 8px;
    width: 100%;
    order: 1;
    border-bottom: 1px solid gray;
}
.dashboard h2{
    text-align: center;
}
.dashboardFooter{
    border-top: 1px gray solid;
    background-color: var(--main-alt-bg-color);
    min-height: 5vh;
    order: 4;
}
.dashboardFooter h2{
    text-decoration: underline var(--component-bg-color);
}

.characterViewOptions{
    display: flex;
    justify-content: space-evenly;
}