
.dashboard{
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--component-bg-color);
}  
.dashboard p {
    font-size: 1.1em;
    font-family: var(--fancy-font);
    color: inherit;
}
.dashboard img{
    width: 150px;
    height: 150px;
    border-radius: 30%;
}
.dashboard li div {
    border-radius: 50%;
  
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
  
    height: 25px;
    line-height: 25px;
    width: 25px;
    margin-right: 10px;
}

.newCharacter div{
    background-color: var(--focus-bg-color);
    color: var(--focus-text-color);
}
.dashboardDynamic{
    width: 100%;
}
.dashboardView{
    display: flex;
    min-height: 95vh;
    background-color: var(--main-alt-bg-color);
}
.dashboardView aside {
    align-self: flex-start;
    background-color: var(--main-alt-bg-color);
    border-top: none;
    border-right: 1px solid gray;
  
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 95vh;
    max-height: 95vh;
    min-width: 20vw;
    max-width: 20vw;
    overflow-y: scroll;
    overflow-x: none;
}
.dashboard section{
    width: 100%;
    padding: 10px;

    background-color: var(--main-bg-color);

    overflow-y: scroll;
}
.dashboard section li {
    border-bottom: 3px solid var(--main-bg-color);
}
.dashboard h2{
    text-align: center;
}

.characterViewOptions{
    display: flex;
    justify-content: space-evenly;
}