.footer{
    background-color: #282c34;  
    position: absolute;
    width: 100%;
    margin-top: -220px;
    color: #F2EFC4;

    padding: 30px 0px;
}

.footer main{
    padding: 0px 64px;
}

.footer section{
    text-align: center;

    display: flex;
    justify-content: space-evenly;
    flex-direction: row;

    padding-bottom: 30px;
    border-bottom: solid #666666ff 1px;
    margin-bottom: 30px;
}

.footer section div{
    width: 20%;
    min-width: 120px;
}

.footer nav{
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
}

.footer nav div{
    padding-top: 8px;
}

.footer nav h3{
    align-self: flex-start;
}