.Navigation{
    background-color: var(--component-bg-color);
    color: var(--component-text-color);
    
    min-width: 6vw;
    order: 0;
    min-height: 100vh;
    max-height: 100vh;
}

.Navigation ul{
    width: 75px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-x: hidden;
    /* align-content: center; */

    height: 100%;
}

.Navigation li{
    margin: auto;
    color: var(--component-text-color);
    border-radius: 20px;

    box-shadow: 
    -4px -4px 4px 0 #414754,
    4px 4px 4px 0px #14161A;
}



