.navbar{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

    width:100%;
    height: 50px;
    background-color: var(--component-bg-color);
    margin-bottom: 30px;
    padding: 12px 0px;
    z-index: 2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#navBarItems{
    width: 70%;
    background-color: inherit;

    display: flex;
    align-items: center;
    justify-content: space-around;
}
#spacer{
    width: 6%;
}

.navbar p{
    color: var(--component-text-color);
    text-decoration: none;
    font-size: 1.15em;
}

/* IDS */
#accountControls{
    width: 24%;
    background-color: inherit;

    display: flex;
    align-items: center;
    justify-content: space-around;
}



