.navbar a{
    color: #ff9900ff;
    text-decoration: none;
    font-size: 1.15em;
}
.navbar{
    width:100%;
    height: 50px;
    background-color: #282c34;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding-top: 25px;
    z-index: 2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#navBarItems{
    width: 70%;
    background-color: inherit;

    display: flex;
    align-items: center;
    justify-content: space-around;

}
#spacer{
    width: 6%;
}
#accountControls{
    width: 24%;
    background-color: inherit;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

#titleCard{
    color: #ff9900ff;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 1.8em;
    text-decoration: underline;
}



