.signIn{
    background-color: #282c34;
    min-height: 40vh;
    width: 350px;
    order: 5;
    z-index: 1;

    /* align-self: center; */
    font-family: garamond;
    margin: auto;
    margin-top: 4.25%;
}
.signIn h2{
    padding-top: 10px;

    text-decoration: underline;

    font-size:2em;
    font-weight: bolder;
    text-align: center;
    color: #331102;
}
.signIn div{
    clear:both;
    background-color:  #ff9800;
    height: 50px;
    margin-bottom: 10px;

    z-index: 1;
}
.signIn label{
    color: #ff9900ff;
    font-size: 1.33em;
    padding-left: 15px;
    left: 0;    
}
.signIn input{
    padding: 8px 5px 8px 5px;
    margin: 5px 5px;
    display:block;
    border:none;
    border-bottom:1px solid #ff9800;
    color: #ff9800;
    font-size: 1.1em;
    width:94%;
    background-color: inherit;
}
.signIn input:focus{
    background-color: #555;
    border: 3px solid #ff9800;
    outline: none;
}
.signIn button{
    display: block;
    margin: 15px auto;
    padding: 8px 16px;

    color:#331102;
    background-color: #ff9800;
    border: 2px solid #ff9800;

    font-size: 1.33em;
    text-align: center;
    text-decoration: none;

    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.signIn button:hover{
    color: #ff9800;
    background-color: #282c34;
}
.signIn ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #555555;
    opacity: 1; /* Firefox */
}
#remember-me{
    display: relative;
    width: auto;
    margin: 0px 5px;
}
.tester{
    margin-top: 10px;
    display: flex;
}
