.signIn{
    background-color:inherit;
    min-height: 40vh;
    width: 40%;
    outline:#282c34 solid 2px;

    margin: auto;
    margin-top: 50px;
}

.signIn h2{
    padding-top: 10px;
    text-decoration: underline;

    font-size:2em;
    font-weight: bolder;
    font-family: garamond;
    text-align: center;
    color: #331102;
}

.signIn div{
    clear:both;
    background-color:  #ff9800;
    height: 50px;
}
.signIn label{
    font-size: 1.2em;
    left: 0;    
}
.signIn input{
    padding: 8px 0px 8px 0px;
    display:block;
    border:none;
    border-bottom:1px solid #777777;
    font-size: 1.75em;
    width:100%;
    background-color: inherit;
}
.signIn button{
    display: block;
    margin: auto;
    padding: 16px 32px;

    color:#331102;
    background-color: #ff9800;
    border: 2px solid #ff9800;

    font-size: 16px;
    text-align: center;
    text-decoration: none;

    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.signIn button:hover{
    background-color: white;
}
